In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [8]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage= requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav',headers=headers).text

In [12]:
soup=BeautifulSoup(webpage,'lxml')

In [15]:
##soup

In [16]:
##print(soup.prettify())

In [24]:
soup.find_all('h1')[0].text.strip()

'List of companies in India'

In [26]:
for i in soup.find_all('h2'):
        print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
ICICI Bank
HDFC Bank
Infosys
Capgemini
Tech Mahindra
HCLTech
Genpact
Axis Bank
Concentrix Corporation
Amazon
Reliance Jio
IBM
Larsen & Toubro Limited
Reliance Retail
HDB Financial Services
Teleperformance
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [47]:
for i in soup.find_all('span',class_='companyCardWrapper__companyRatingValue'):
      print(i.text.strip())

3.8
4.1
3.9
3.8
4.0
3.9
3.9
3.9
3.7
3.7
4.0
3.8
3.9
4.2
3.9
4.1
4.0
3.9
4.0
3.6

In [71]:
### we will  fatch all company name : 
name =[]
rating=[]
company=soup.find_all('div', class_= 'companyCardWrapper__primaryInformation')
for i in company:   
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span',class_='companyCardWrapper__companyRatingValue').text.strip())
df= {'name':name,'rating':rating}

In [73]:
import pandas as pd

In [74]:
df=pd.DataFrame(df)

In [75]:
df

                       name rating
0                       TCS    3.8
1                 Accenture    4.1
2                 Cognizant    3.9
3                     Wipro    3.8
4                ICICI Bank    4.0
5                 HDFC Bank    3.9
6                   Infosys    3.9
7                 Capgemini    3.9
8             Tech Mahindra    3.7
9                   HCLTech    3.7
10                  Genpact    4.0
11                Axis Bank    3.8
12   Concentrix Corporation    3.9
13                   Amazon    4.2
14             Reliance Jio    3.9
15                      IBM    4.1
16  Larsen & Toubro Limited    4.0
17          Reliance Retail    3.9
18   HDB Financial Services    4.0
19          Teleperformance    3.6

In [ ]:
# ### main code all pages
# final=pd.DataFrame()
# for j in range(1,1001):
#   webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
#   soup=BeautifulSoup(webpage,'lxml')
#   company=soup.find_all('div',class_='company-content-wrapper')
#   name=[]
#   rating=[]
#   reviews=[]
#   ctype=[]
#   hq=[]
#   how_old=[]
#   no_of_employee=[]

#   for i in company:

#     try:
#        name.append(i.find('h2').text.strip())
#     except:
#        name.append(np.nan)

#     try:
#        rating.append(i.find('p',class_='rating').text.strip())
#     except:
#        rating.append(np.nan)
   
#     try:

#       reviews.append(i.find('a' , class_='review-count').text.strip())
#     except:
#       reviews.append(np.nan)

#     try:

#       ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
#     except:
#       ctype.append(np.nan)
#     try:

#       hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
#     except:
#       hq.append(np.nan)
    
#     try:

#       how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
#     except:
#       how_old.append(np.nan)
#     try:
#       no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
#     except:
#       no_of_employee.append(np.nan)
    

#   df=pd.DataFrame({'name':name,
#     'rating':rating,
#     'reviews':reviews,
#     'company_type':ctype,
#     'Head_Quarters':hq,
#     'Company_Age':how_old,
#     'No_of_Employee':no_of_employee,
#     })
  
#   final=final.append(df,ignore_index=True)